@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">אתר הרחפנים של ישראל</h1>
    <p>
        ברוכים הבאים לחנות הרחפנים שלנו - אצלנו תמצאו מגוון ענק של רחפנים. בין אם אתם מחפשים רחפן לצילומי טבע, טיולים, חברים ומשפחה ובין אם אתם מחפשים רחפן לשימוש מקצועי ומסחרי, הגעתם למקום הנכון!
        באפשרותכם למצוא את הרחפן הנכון ,המקצועי  והמדוייק ביותר לצורך שלכם בעלות הכי נמוכה בשוק 
        אז למה אתם מחכים ?  חפשו רחפן ,תבחרו והזמינו ואנחחנו נדאג שהוא יהיה אצלכם עד 3 ימים 
    </p>
</div>
